* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;    
}

body {
    background-color: black;
}

iframe {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

#loading {
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loading-bar-outer{
    height: 1vh;
    border-radius: 1vh;
}

@media (orientation: landscape){
    #loading-bar-outer {
        width: 20vw;
    }
}

@media (orientation: portrait){
    #loading-bar-outer {
        width: 60vw;
    }
}

#loading-bar-inner{
    height: 1vh;
    width: 0vw;
    background: rgb(241,255,0);
    background: -moz-linear-gradient(90deg, rgba(241,255,0,0) 0%, rgba(246,252,0,0.4514180672268907) 71%, rgba(255,248,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(241,255,0,0) 0%, rgba(246,252,0,0.4514180672268907) 71%, rgba(255,248,0,1) 100%);
    background: linear-gradient(90deg, rgba(241,255,0,0) 0%, rgba(246,252,0,0.4514180672268907) 71%, rgba(255,248,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1ff00",endColorstr="#fff800",GradientType=1);
}

#start {
    background:    #4c5654;
    background:    linear-gradient(#4c5654, #393333);
    border-radius: 1vw;
    box-shadow:    0 2px #444444;
    color:         #adabab;
    display:       inline-block;
    font:          normal bold 1.5vh "Open Sans", sans-serif;
    text-align:    center;
    height: 2.5vh;
    display: none;
    cursor: pointer;
    outline: none;
}

@media (orientation: landscape){
    #start {
        width: 8vw;
    }
}

@media (orientation: portrait){
    #start {
        width: 20vw;
    }
}



#options {
    display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Lucida Console", Courier, monospace;
}

@media (orientation: landscape){
    #options {
        grid-template-columns: 40% 20% 40%;
        grid-template-areas: 
        ". options ldb";
    }
}
@media (orientation: portrait){
    #options {
        grid-template-rows: 20% 10% 65%;
        grid-template-areas: 
        "options"
        "."
        "ldb";
    }
}

#options-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1vw;
    border-style: solid;
    border-width: 2px;
    padding: 1vw;
    grid-area: options;
}

#lvl{
    width: 20vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (orientation: portrait){
    #lvl {
        width: 40vw;
    }
}

#lvl > .bttn {
    background: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 5vh;
    cursor: pointer;
}


#lvl > button:active {
    border-style: none;
}

#lvl > #level {
    font-size: 5vh;
}

.confirm {
    background:    #4c5654;
    background:    linear-gradient(#4c5654, #393333);
    border-radius: 1vw;
    box-shadow:    0 2px #444444;
    color:         #adabab;
    display:       inline-block;
    font:          normal bold 1.5vh "Open Sans", sans-serif;
    text-align:    center;
    height: 2.5vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    cursor: pointer;
}

@media (orientation: portrait){
    .confirm {
        width: 20vw;
    }
}

#pause, #end{
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Lucida Console", Courier, monospace;
}

.inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1vw;
    border-style: solid;
    border-width: 2px;
    padding: 1vw 8vw 1vw 8vw;
}

.inner > p {
    padding: 1vw;
    font-size: 1.8vw
}
.inner > p:first-child {
    font-size: 3vw;
}

.inner > p:not(:first-child){
    cursor: pointer;
}


.inner > p:not(:first-child):hover {
    text-decoration: underline;
}

.flexCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 200%;
}

.flexCol > .confirm {
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

#name {
    background: rgba(0, 0, 0, 0);
    text-align: center;
    border-radius: 1vw;
    outline: none;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bold;
}

#highscores {
    display: grid;
    grid-template-rows: 5% 95%;
    justify-self: center;
    grid-area: ldb;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1vw;
    text-align: center;
    padding: 0.5vw;
}

@media (orientation: landscape) {
    #highscores {    
        height: 90vh;
        width: 90%;
    }
}

@media (orientation: portrait) {
    #highscores {
        width: 90vw;
        height: 100%;
    }
}

#head {
    display: grid;
    grid-template-columns: 10% 30% 15% 15% auto;
    font-weight: bold;
}

#body {
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

}

#body > div {
    display: grid;
    grid-template-columns: 10% 30% 15% 15% auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body > div:nth-child(even){
    border-radius: 1vw;
    background: rgba(90, 87, 248, 0.2);
}